.button-menu-mobile, .navbar-custom .navbar-nav .nav-link{
	line-height: 50px;
}

.app-search .form-control, .app-search .form-control:focus{
	margin-top: 8px;
}

.doc-name{
	a{color:#fff;}
	font-size: 16px;
	padding-top:13px;
}
