.patient-meta-col{
	/*background-color: red;*/
}
.patient-meta-wrapper{
    padding:10px;
}

.btn-add-pat{
	padding-top: 3px;
	background-color: #fefefe;
}

h4.header-title{
	color:#777;
}

.diagnosis-wrapper{
	background: #f5f4ee;
	overflow: scroll;
}

ul.patients-list{
	li{
		i{
			color:#bbb;
		}
		.pat-name{
			padding-left:5px;
		}
	}
	li.item:nth-child(even){
		//background-color: #eee;
	}
}

.attachments-wrapper{
	padding:10px 0 5px 10px;
	.btn-att{
		margin-left:20px;
	}
}

.dull{
	filter: brightness(90%);
}

.attachments-list-wrapper{	
	overflow:scroll;
	width:100%;
	ul{
		margin:0px;
		padding: 0px;
		li{
			float:left;
			width:100%;
			height:auto;
			overflow:hidden;
			margin:0px;
			box-sizing:border-box;
			border-top:1px solid #ccc;
			border-left:1px solid #ccc;
			position:relative;
			.att-item{
				padding:3px 20px;
				background: #efefef;
				text-decoration: none;
				.rmv-btn{
					display: none;
					position:absolute;
					right: 10px;
					top:3px;
				}
			}
			.att-item:hover{
				background: #ddd;
				cursor:pointer;
				.rmv-btn{
					display:block;
				}
			}
		}
	}
}