<app-header [docName]="docName"></app-header>
<div class="wrapper">
    <patient-add
        [docID] = "docID"
        [hidden]="!showPatientAdd"
        (addedPatient) = "addDocPatient($event)"
        (closePatientAdd)="closePatientAdd()"
    ></patient-add>
    <div class="content-page no-side" (window:resize)="setPanelHeight()" [style.height.px]="panelHeight - 10">
        <div class="content tight">
            <div class="row tri-col-wrapper" >
                <div class="col-25p tri-col tri-col-left" [style.height.px]="panelHeight + 12" style="overflow: hidden;">
                    <div class="items-search-wrapper">
                        <div class="input-group">
                            <div class="input-group-addon search-icon">
                                <i class="fa fa-search"></i>
                            </div>
                        <input [(ngModel)]="query" type="text" class="form-control search-input" placeholder="Search patients">
                        <button class="btn-link btn-add-pat" (click)="togglePatientAdd()"><i class="fa fa-plus-circle"></i> <span class="btn-txt">Patient</span></button>
                    </div>
                    </div>
                    <div class="items-wrapper">
                        <ul id="patientList" class="patients-list" [scrollTop]="listScrollValue" [style.height.px]="panelHeight" style="overflow:scroll;">
                           <li class="item" [ngClass]="{'active': pat.id == patient._id}"
                            *ngFor="let pat of patients | search:'name,phone':query" 
                            (click)="getPatient(pat.id)">
                                <div class="pic-col">
                                    <div class="pic-wrapper">
                                        <i class="fa fa-user fa-2x"></i>
                                    </div>
                                </div>
                                <div class="name-col">
                                    <span class="pat-name">{{pat.doc.name}}</span>
                                    <span class="last-msg">
                                        <i>Recent visit:</i>
                                        <span *ngIf="pat.doc.updated_at">{{pat.doc.updated_at | date:'d MMM y'}}</span>
                                        <span *ngIf="!pat.doc.updated_at">{{pat.doc.created_at | date:'d MMM y'}}</span>
                                    </span>
                                </div>
                                <div class="visit-col" *ngIf="pat.doc.hisCount">
                                    <span class="total-visit">{{pat.doc.hisCount}}</span>
                                </div>
                            </li>
                        </ul>

                        
                    </div>
                </div>
                <div class="col-50p tri-col tri-col-mid diagnosis-col" [ngClass]="{'dull': !patient.phone}">
                    <div class="col-header">
                        
                                <div class="input-group select-section">
                                    <span class="input-group-addon">View patient's</span>
                                    <select name="diDataSel" id="" class="form-control" (change)="onDiagChange()" [(ngModel)]="selectedDiag">
                                        <option value="history">History</option>
                                        <option value="allergies">Allergies</option>
                                        <!-- <option value="comments">comments</option> -->
                                    </select>
                                </div>
                            
                        
                            <div class="col-100p">
                                <div class="diagnosis-wrapper" #diagWrapper>
                                    <h5 class="selected-title">
                                        <span *ngIf="selectedDiag == 'history'">Visit</span>
                                        {{selectedDiag}}
                                    </h5>
                                    <vtimeline
                                        [dim] = "panelDim"
                                        [moments] = "selectedDiagData"
                                        (selectedMoment) = "selectedPatientText($event)"
                                        (savedText) = "savePatText($event)"
                                    ></vtimeline>
                                    <advtxtarea
                                        [dim] = "panelDim"
                                        [date] = "patientText.date"
                                        [txtValue] = "patientText.text"
                                        (savedText) = "savePatText($event)"
                                    ></advtxtarea>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-25p tri-col tri-col-right patient-meta-col" [ngClass]="{'dull': !patient.phone}" [style.height.px]="panelHeight + 12" style="overflow: scroll;">
                    <div class="patient-meta-wrapper">
                        
                                <h4 class="header-title">Patient Information</h4>
                            
                        <div [hidden]="patient.name == undefined" class="">
                            <div class="col-100p">
                                <inptxt 
                                    label = "Name"
                                    key = "name"
                                    [inpValue] = "patient.name"
                                    (changedDetail)="updatePatientData($event)"
                                ></inptxt>
                                <inptxt 
                                    label = "Phone"
                                    key = "phone"
                                    readonly = "readonly"
                                    [inpValue] = "patient.phone"
                                    (changedDetail)="updatePatientData($event)"
                                ></inptxt>
                                <inptxt 
                                    label = "Email"
                                    key = "email"
                                    [inpValue] = "patient.email"
                                    (changedDetail)="updatePatientData($event)"
                                ></inptxt>
                                <inptxt 
                                    label = "Age"
                                    key = "age"
                                    [inpValue] = "patient.age"
                                    (changedDetail)="updatePatientData($event)"
                                ></inptxt>
                                <inptxt 
                                    label = "Gender"
                                    key = "gender"
                                    [inpValue] = "patient.gender"
                                    (changedDetail)="updatePatientData($event)"
                                ></inptxt>
                                <inptxt 
                                    label = "Address"
                                    key = "address"
                                    [inpValue] = "patient.address"
                                    (changedDetail)="updatePatientData($event)"
                                ></inptxt>
                                <inptxt 
                                    label = "City"
                                    key = "city"
                                    [inpValue] = "patient.city"
                                    (changedDetail)="updatePatientData($event)"
                                ></inptxt>
                                <inptxt 
                                    label = "First visit"
                                    key = "city"
                                    [inpValue] = "patient.created_at | date:'d MMM y'"
                                    readonly="readonly"
                                    (changedDetail)="updatePatientData($event)"
                                ></inptxt>
                            </div>
                            <div class="col-100p">
                                <div class="attachments-wrapper">
                                    <label>Attachments</label>
                                <button (click)="addAttachment()" class="btn-link btn-att"><i class="fa fa-paperclip"></i> Add Attachments</button>
                                <input class="btn-link" type="file" name="files" class="form-control" multiple (change)="filesSelected($event)" [hidden]="true" #attBtn>
                                </div>
                            </div>
                            
                            
                            <att-viewer 
                                *ngIf="viewAttachment"
                                [attachment]="attachment"
                                (closeAtt)="closeAttachment()"
                            ></att-viewer>
                        </div>
                    </div>
                    <div class="attachments-list-wrapper" style="margin-bottom: 8px">
                            <ul>
                                <li *ngFor="let att of attachments | objNgFor" (click)="viewAtt(att)">
                                    <div class="att-item">{{att}} <span class="rmv-btn" (click)="onRemoveAtt(att, $event)" ><i class="fa fa-times-circle"></i></span></div>
                                </li>
                            </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<status-bar [docName]="docName"></status-bar>