<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a routerLink="/maps" href="javascript:void(0);" class="waves-effect" [ngClass]="{'active': currPage == 'reports/maps'}"><i class="fa fa-map fa-2x"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>