<div class="status-bar-wrapper">
	<div class="status-bar">
		<div class="status-profile">
			
		</div>
		<div class="status-app">
			<div class="status">Ver: 0.9 beta</div>
			<!-- <div class="status">Update Available</div> -->
			<div class="status">
				<div class="btn-group dropup">
				  <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <i class="fa fa-cloud"></i> Cloud
				  </a>
				  <div class="dropdown-menu">
				    <ul class="remote-actions">
				    	<!-- <li class="item" (click)="syncDB()"><i class="fas fa-sync"></i><span class="text">Sync</span></li> -->
				    	<li class="item" (click)="pushDB()"><i class="fas fa-upload"></i><span class="text">Push</span> </li>
				    	<li class="item" (click)="pullDB()"><i class="fas fa-download"></i><span class="text">Pull</span></li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>