<div class="layer-overlay"></div>
<!-- #if showFiles -->
    <div *ngIf="files.length" class="right-slider-aside slideInRight">
        <div class="file-thumbnails">
           <!-- #each patient._attachments -->
                <div *ngFor="let file of files; let i = index" class="thumbnail-wrapper">
                    <img class="file-thumb" alt="" (click)="showFile(file)" [attr.src]="'data:image/png;base64,' + file.data">
                    <span class="rm-btn" (click)="removeFile(file.id, i)"><i class="fa fa-times"></i></span>
                </div>
            <!-- {{/each}} -->

            
        </div>
    </div>
<!-- {{/if}} -->
<div class="right-slider slideInRightW patient-form-wrapper" >
	<div id="patient-form">
	    <button class="btn btn-link rs-close-btn" (click)="closePatientMenu()"><i class="fa fa-angle-right"></i></button>
	    <div class="row" style="transition-duration: 500ms; z-index: 10003;" >
	        <div class="col-sm-12">
	            <!-- <div class="row form-group">
	                <div class="col-sm-8 col-sm-offset-2">
	                    <h4 class="header-title">
	                        <strong>Patient</strong> - 
	                        <small>ID : 12312323</small>
	                    </h4>
	                </div>
	                <div class="col-sm-2">
	                    <input type="text" class="form-control inp-flat" placeholder="Enter OTP">
	                </div>
	            </div> -->
	            <div class="form-group row">
	                <label class="form-control-label col-sm-2"><span class="pull-right">Name:</span></label>
	                <div class="col-sm-9">
	                    <input type="text" name="name" [(ngModel)]="patient.name"  class="form-control" >
	                </div>
	             </div> 
	            <div class="form-group row">
	                <label class="form-control-label col-sm-2"><span class="pull-right">Email:</span></label>
	                <div class="col-sm-9">
	                    <input type="text" name="email" [(ngModel)]="patient.email" class="form-control">
	                </div>
	            </div> 
	            <div class="form-group row">
	                <label class="form-control-label col-sm-2"><span class="pull-right">Phone:</span></label>
	                <div class="col-sm-9">
	                    <input type="text" name="phone" [(ngModel)]="patient.phone" class="form-control">
	                </div>
	            </div> 
	        </div>
	    </div>
		
	        <div  class="row" style="transition-duration: 500ms; z-index: 10003;" >
	            <div class="col-sm-12">  
	                <div class="form-group row">
	                    <label class="form-control-label col-sm-2"><span class="pull-right">Age:</span></label>
	                    <div class="col-sm-9">
	                        <input type="text" name="age" [(ngModel)]="patient.age" class="form-control">
	                    </div> 
	                </div> 
	                <div class="form-group row">
	                    <label class="control-label col-sm-2"><span class="pull-right">Gender:</span></label>
	                    <div class="col-sm-9">
	                        <select class="form-control" name="gender" [(ngModel)]="patient.gender"> <!--Supplement an id here instead of using 'name'-->
	                            <option value="male" selected>Male</option> 
	                            <option value="female">Female</option>
	                        </select>
	                    </div>
	                </div>           
	                <!-- <div class="form-group row">
	                    <label class="form-control-label col-sm-2"><span class="pull-right">Street:</span></label>
	                    <div class="col-sm-10">
	                        <input type="text" name="street" value="{{patient.street}}" class="form-control">
	                    </div>
	                </div>
	                <div class="form-group row">
	                    <label class="form-control-label col-sm-2"><span class="pull-right">Area:</span></label>
	                    <div class="col-sm-10">
	                        <input type="text" name="area" value="{{patient.area}}" class="form-control">
	                    </div>
	                </div> -->
	                <div class="form-group row">
	                    <label class="form-control-label col-sm-2"><span class="pull-right">Village/Town:</span></label>
	                    <div class="col-sm-9">
	                        <input type="text" name="city" [(ngModel)]="patient.city" class="form-control">
	                    </div>
	                </div>
	                <div class="form-group row">
	                    <label class="form-control-label col-sm-2"><span class="pull-right">History:</span></label>
	                    <div class="col-sm-9">
	                        
	                        <textarea name="history" [(ngModel)]="diag.history" class="form-control" id="history" rows="3"></textarea>
	                    </div>
	                </div>
	                <div class="form-group row">
	                    <label class="form-control-label col-sm-2"><span class="pull-right">Comments:</span></label>
	                    <div class="col-sm-9">
	                         <textarea name="comments" [(ngModel)]="diag.comments" class="form-control" id="comments" rows="3">{{patient.comments}}</textarea>
	                    </div>
	                </div>
	                <div class="form-group row">
	                    <label class="form-control-label col-sm-2"><span class="pull-right">Allergies:</span></label>
	                    <div class="col-sm-9">
	                         <textarea name="allergies" [(ngModel)]="diag.allergies" class="form-control" id="allergies" rows="3">{{patient.allergies}}</textarea>
	                    </div>
	                </div>
	                <div class="form-group row">
	                    <label class="form-control-label col-sm-2"><span class="pull-right">Attachments:</span></label>
	                    <div class="col-sm-9">
	                       <input type="file" name="files" class="form-control" multiple (change)="filesSelected($event)">
	                    </div>
	                </div>
	            </div>
	        </div>
		
	    <div class="row" style="transition-duration: 500ms; z-index: 10003;" >
	        <div class="col-sm-12">
	            <div class="row patient-actions">
	                <div class="col-sm-9 col-sm-offset-2">
	                		<!-- {{#if showMore}}
	                        	<button onclick="actions.toggleShowMore()" class="btn btn-link">Less...</button>
	                        {{else}}
	                        	<button onclick="actions.toggleShowMore()" class="btn btn-link">More...</button>
	                        {{/if}} -->
	                        <!-- {{#if isNew}} -->
	                        	<button *ngIf="!patient._id" class="btn btn-primary pull-right" (click)="addPatient()">Add</button>
	                        <!-- {{else}} -->
	                        	<button *ngIf="patient._id" class="btn btn-primary pull-right" (click)="updatePatient()">Update</button>
	                        <!-- {{/if}} -->
	                    <button class="btn btn-link pull-right" (click)="closePatientMenu()">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

<button id="triggerfileBig" data-toggle="modal" data-target="#fileBigModal" [hidden]="true"></button>
<div class="modal fade" id="fileBigModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{fileImg.name}}</h4>
      </div>
      <div class="modal-body">
        <img [attr.src]="fileImg.src" alt="" style="width:100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->