<div class="wrapper">
    <div class="centered-content">
    	<div class="login-wrapper container">
    		<div class="row-percent">
	    		<div class="col-fifty logo-wrapper">
	    			<div class="applogo">
	    				<h1 style="position: absolute; margin-left:-13px;"><img width="50" src="https://cdn.dribbble.com/users/528264/screenshots/3140440/firebase_logo.png" alt="">care me</h1>
	    				<p style="margin-top:40px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae.
						<br><a>care-doctor.in</a>
	    				</p>
	    				
	    			</div>
	    		</div>
	    		<div class="col-fifty">
	    			<form (ngSubmit)="login(sf)" #sf="ngForm">
		    			<input class="inp-no-fancy" type="email" placeholder="Email" ngModel name="email"><br>
		    			<input class="inp-no-fancy" type="password" placeholder="Password" ngModel name="password"><br>
		    			<div class="row">
		    				<div class="col-sm-12">
		    					<button class="btn btn-primary login" type="submit">Login</button>
		    				</div>
		    			</div>

		    			<div class="other-actions">
			    			<div class="row-percent">
			    				<div class="col-fifty">
			    					<a class="btn-link">Forgot Password?</a>
			    				</div>
			    				<div class="col-fifty">
			    					<a class="btn-link pull-right">Questions?</a>
			    				</div>
			    			</div>
			    		</div>
			    	</form>
	    		</div>
	    	</div>
    	</div>
    </div>
</div>