<app-header [docName]="docName"></app-header>
<div class="wrapper">
    <div class="content-page no-side">
    	<div class="content">
            <div class="container">
                <div class="row">

                    <!-- <div class="col-md-1 col-xs-1">
                        
                    </div> -->
                    <!-- <div class="col-xs-2 col-md-2 ">
                        <div class="profile-pic-wrapper">
                        	<div class="image-wrapper">
                                <img *ngIf="!docDP" width="100%" src="/assets/user.png" alt="profile-picture">
                        		<img *ngIf="docDP" width="100%" [attr.src]="'data:image/png;base64,' + docDP.data" alt="profile-picture">
                        	</div>
                        </div>
                        <br>
                        <input class="btn btn-link" type="file" *ngIf="!docDP" value="Set profile picture" (change)="setProfilePicture($event)">
                        <input class="btn btn-link" type="file" *ngIf="docDP" value="Change profile picture" (change)="setProfilePicture($event)">
                       
                    </div> -->
                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                        <h3 class="profile-title">Your Profile</h3>
                    	<!-- <label>Your ID : {{doctor.id}}</label> -->
                        <inptxt 
                            label = "Name"
                            key = "doctor_name"
                            [inpValue] = "doctor.doctor_name"
                            (changedDetail)="updateDocData($event)"
                        ></inptxt>
                        <inptxt 
                            label = "Email"
                            key = "email"
                            [inpValue] = "doctor.email"
                            (changedDetail)="updateDocData($event)"
                        ></inptxt>
                        <inptxt 
                            label = "Phone"
                            key = "mobile_number"
                            [inpValue] = "doctor.mobile_number"
                            (changedDetail)="updateDocData($event)"
                        ></inptxt>
                        <inptxt 
                            label = "Address"
                            key = "address"
                            [inpValue] = "doctor.address"
                            (changedDetail)="updateDocData($event)"
                        ></inptxt>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<status-bar [docName]="docName"></status-bar>