<app-header [docName]="doctor.name"></app-header>
<div class="wrapper">
    <div class="content-page">
    	<div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-xs-1">
                        
                    </div>
                    <div class="col-xs-2 col-md-2 ">
                        <div class="profile-pic-wrapper">
                        	<div class="image-wrapper">
                        		<img src="" alt="profile-picture">
                        	</div>
                        </div>
                        <a href="">Change picture</a>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    	<label>DocID: 33299</label>
                        <inptxt 
                            label = "Name"
                            key = "name"
                            [inpValue] = "docData.name"
                            (changedDetail)="updateDocData($event)"
                        ></inptxt>
                        <inptxt 
                            label = "Email"
                            key = "email"
                            [inpValue] = "docData.email"
                            (changedDetail)="updateDocData($event)"
                        ></inptxt>
                        <inptxt 
                            label = "Phone"
                            key = "phone"
                            [inpValue] = "docData.phone"
                            (changedDetail)="updateDocData($event)"
                        ></inptxt>
                        <inptxt 
                            label = "Address"
                            key = "address"
                            [inpValue] = "docData.address"
                            (changedDetail)="updateDocData($event)"
                        ></inptxt>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<status-bar [docName]="doctor.name"></status-bar>