<div class="launcher-wrapper">
	<ul class="launcher">
		<li class="item">
			<a routerLink="/" href="javascript:void(0);">
				<i class="fas fa-tachometer-alt fa-2x"></i>
				<div>Dashboard</div>
			</a>
		</li>
		<li class="item">
			<a routerLink="/patients" href="javascript:void(0);">
				<i class="fa fa-user fa-2x"></i>
				<div>Patients</div>
			</a>
		</li>
		<li class="item">
			<a routerLink="/reports/maps" href="javascript:void(0);">
				<i class="fas fa-clipboard-list fa-2x"></i>
				<div>Reports</div>
			</a>
		</li>
		<li class="item">
			<a routerLink="/profile" href="javascript:void(0);">
				<i class="fas fa-user-circle fa-2x"></i>
				<div>Profile</div>
			</a>
		</li>
	</ul>
</div>