<div class="launcher-wrapper">
	<ul class="launcher">
		<li class="item">
			<a routerLink="/" href="javascript:void(0);">
				<i class="fas fa-tachometer-alt fa-2x"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li class="item">
			<a routerLink="/patients" href="javascript:void(0);">
				<i class="fa fa-user fa-2x"></i>
				<span>Patients</span>
			</a>
		</li>
		<li class="item">
			<a routerLink="/maps" href="javascript:void(0);">
				<i class="fas fa-clipboard-list fa-2x"></i>
				<span>Reports</span>
			</a>
		</li>
		<li class="item">
			<a routerLink="/profile" href="javascript:void(0);">
				<i class="fas fa-user-circle fa-2x"></i>
				<span>Profile</span>
			</a>
		</li>
	</ul>
</div>