.main-menu-wrapper{
	position: fixed;
	left:0px;
	top:80px;
	width:250px;
	height:auto;
	overflow: hidden;
	z-index: 1000;
	background: #fefefe;
	.main-menu{
		margin:0px;
		padding:0px;
		box-sizing: border-box;
		width:100%;
		overflow: hidden;
		height: auto;
		.item{
			box-sizing: border-box;
			width:50%;
			overflow: hidden;
			list-style:none;
			text-align: center;
			padding:15px;
		}
	}
}